#apocalypseWarning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#warningContent {
    text-align: center;
    background: #330000;
    padding: 30px;
    border: 2px solid red;
    border-radius: 10px;
}
#warningContent h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
#warningContent p {
    font-size: 20px;
    margin-bottom: 20px;
}
#warningContent button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
